@font-face {font-family: "nexmoefont";
  src: url('https://3dbigcat.tw/fonts/jf-openhuninn-1.1.ttf'); /* IE9 */
  src: url('https://3dbigcat.tw/fonts/jf-openhuninn-1.1.ttf'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.nexmoefont {
  font-family: "nexmoefont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nexmoe-widget-title,.mdui-list-item-content,.archive-list-link,.nexmoe-search,.mdui-ripple,h1,h2,h3,p,span,div {
  font-family: "nexmoefont" !important;
}

.icon-steam:before {
  content: "\e722";
}

.icon-battlenet:before {
  content: "\e604";
}

.icon-youtube:before {
  content: "\e733";
}

.icon-info-circle:before {
  content: "\e77e";
}

.icon-areachart:before {
  content: "\e7af";
}

.icon-container:before {
  content: "\e7b0";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-menu:before {
  content: "\e7f5";
}

.icon-unorderedlist:before {
  content: "\e7f4";
}

.icon-ellipsis:before {
  content: "\e7fc";
}

.icon-telegram:before {
  content: "\e646";
}

.icon-time-circle-fill:before {
  content: "\e848";
}

.icon-calendar-fill:before {
  content: "\e84d";
}

.icon-appstore-fill:before {
  content: "\e853";
}

.icon-eye-fill:before {
  content: "\e869";
}

.icon-tag-fill:before {
  content: "\e86e";
}

.icon-tags-fill:before {
  content: "\e86f";
}

.icon-mail-fill:before {
  content: "\e870";
}

.icon-zhihu:before {
  content: "\e87c";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weibo:before {
  content: "\e883";
}

.icon-wechat-fill:before {
  content: "\e884";
}

.icon-github:before {
  content: "\e60b";
}

.icon-dribbble:before {
  content: "\eaab";
}

.icon-twitter:before {
  content: "\e617";
}

.icon-bilibili:before {
  content: "\e60f";
}